<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fizjo appointment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'fizjocalendar/style.css' %}" />
</head>
<body>
<div class="jumbotron">
  <h3>Formularz kontaktowy</h3>
</div>
<div class="container" style="width: 25%">
<h4>Wiadomość o wizycie została przesłana</h4>
</div>
</body>
</html>