<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fizjo appointment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'fizjocalendar/style.css' %}" />
</head>
<body>
<div class="jumbotron">
  <h3>Formularz kontaktowy</h3>
</div>
<div class="container" style="width: 25%">
<form action="{% url 'fizjocalendar:appointment' %}" method="post">
    {% csrf_token %}
    <label >Imie</label>
    <input type="text" class="form-control" name="name" />
    <label >Nazwisko</label>
    <input type="text" class="form-control" name="surname" />
    <label >Wiek</label>
    <input type="text" class="form-control" name="age" />
    <label >Data</label>
    <input type="date" class="form-control" name="date" />
    <label >Godzina</label>
    <input type="time" class="form-control" name="time" />
    <label >Nr telefonu</label>
    <input type="text" class="form-control" name="phone" />
    <label >Opis</label>
    <textarea class="form-control" rows="5" name="description" >Dodaj opis schorzenia</textarea>
<input type="submit" class="btn btn-default" value="Wyślij" />
</form>
</div>
</body>
</html>